.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.header {
  height: 100px;
  background-color: grey;
  width: 100%;
}

body {
  background-color: bisque;
}
